flask/static/front/bower_components/
flask/static/front/node_modules/

flask/static/species/
flask/templates/fonts/



**/*.jpg
**/*.db
!sqlite.db
**/*.json
**/*.settings
**/*.pyc

*.py
!program1.py
!program2.py
!alchemy.py
!server.py

sftp-config.json