footer{
	height: 50px;
	width: 100%;
	background: rgba(0,0,0,0.5);
	padding: 20px;
	position: relative;
	color: white;
	a.logo{
		position: relative;
		margin-top:-75px;
		display: block;
		height: 100px;
		width: 200px;
		background: url(./img/ns-logo.png) center center no-repeat;
		background-size: contain;

	}
	a{
		color: white;

	}
}

body.home{
	footer{
		a.logo{
			position: relative;
			margin-top:-75px;
			display: block;
			height: 100px;
			width: 200px;
			background: url(./img/ns-logo-white.png) center center no-repeat;
			background-size: contain;
		}
		a{
		}
	}
}