<div id="framephoto">
</div>
<div id="photoframe" class="portfolio-item">
		<hgroup>
			<h5>Nom : <%= ID %></h5>
			<h5>Date et heure : <%= date %></h5>
		</hgroup>
		<div class="images">
			<a href="<%= path %>">
			<img class="img-rounded img-responsive view-details" src="<%= resized %>" alt="Photo"/>
			</a>
		</div>
		<div class="action_delete">
			<button data-id="<%= ID %>" id="btnDelete" class="btn btn-block btn-lg btn-warning btnDelete">Delete</button>
		</div>
		<a href="#details/<%= ID %>" class="btn btn-block btn-lg btn-default">Détails</a>
</div>
