<a href="#details/<%= ID %>" id="photoframe" class="portfolio-item">
<div id="framephoto">
</div>
		<div class="images" style="">
			<img class="img-responsive view-details" src="<%= resized %>" alt="Photo"/>
		</div>
		<div class="infos">
			<span>Nom : <%= ID %></span>
			<br><br>
			<span>Date et heure : <%= date %></span>
		</div>
		<div class="action_delete hidden">
			<button data-id="<%= ID %>" id="btnDelete" class="btn btn-block btn-lg btn-warning btnDelete">Delete</button>
		</div>
</a>
