<div class="card">
    <h3 class="text-center">Informations sur la photo</h3>
    <h5>Nom du fichier : <%= name %></h5>
    <h5>Date : <%= date %></h5>
    <h5>Espèce détectée : </h5>
    <div class="">
        <a href="<%= path %>"><img class="" src="<%= path %>" alt="Photo" height="100%" width="100%"/></a><br>
    </div>
    
        <input name="action" value="submit" type="hidden">
        <br>
        Nom de la photo :
        <br>
        <input id = "name" type="text" value="<%= name %>" placeholder="Saisir un nouveau nom" name="name" class="form-control" size="30">
        Commentaire :
        <br>
        <textarea id="comment" type="text" value="<%= comment %>" name="comment" placeholder="Saisir un commentaire" rows="5" class="form-control"></textarea><br>
        <button id ="btn-save" class="btn btn-block btn-lg btn-primary" value="Sauvegarder" type="submit">Sauvegarder</button>
</div>
