<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>iFeedBird</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <!-- <link href="css/4-col-portfolio.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/4-col-portfolio.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Accueil</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#visionneuse">Galerie</a>
                    </li>
                    <li>
                        <a href="#info">A propos</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="wide">
    </div>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
            <p>
                <h2>iFeedBird</h2>
            </p>
            </div>
            <div id="content">
                <p>
                    Hello <strong>{{name}}</strong> ({{email}}) !<br>
                    Votre message a correctement été envoyé.
                </p>
            </div>
        </div>

        <div id="container">
            <div id="elViewPrincipale"></div>
        </div>

        <div id="containerViewHome">
            <div id="viewHome"></div>
        </div>

        <div id="containerInfoWebApp">
            <div id="elViewInfoApp"></div>
        </div>

        <div id="containerContact">
            <div id="elViewContact"></div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; <a href="http://natural-solutions.eu">natural-solutions.eu</a></p>
                    <p>
                        <img src="../static/images/nslogo.png" alt="">
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>


</body>

    <!-- jQuery -->
    <script src="../static/libs/vendors/jquery.js"></script><!--V 1.10.2-->
    <script src="../static/libs/vendors/underscore.js"></script><!--V 1.5.2 -->
    <script src="../static/libs/vendors/backbone.js"></script><!--V 1.1.0 -->
    <script src="../static/libs/vendors/bootstrap.min.js"></script>

    <link href="{{ url_for('static', filename='../static/js/bootstrap.min.js') }}" rel="javascript" type="text/javascript" />

    <!--

        ################### VUES BACKBONE ###################

    -->

    <!--
            Vues pour chaque photo
    -->
    <script type="text/template" id="templateView">
        <div class="col-md-3 col-sm-4 portfolio-item">
            <div class="images">
                <div class="intro_photo">
                    <h5>ID : <%= ID %></h5>
                    <h5>Heure : <%= Heure %></h5>
                </div>
                <a href="<%= Lien %>"><img class="resize-image" src="<%= Lien %>" alt="Photo"/></a>
            </div>
        </div>
    </script>

    <!-- 
            Vues principale englobant les sous vues des photos
    -->

    <script type="text/template" id="templateViewPrincipale">
        <div class="row">
        </div>
    </script>

    <!-- 
            Vue d'accueuil 
    -->

    <script type="text/template" id="templateViewHome">
        <div class="row" >
        <center>
            <img src="../static/images/logo.jpg" alt="Logo iFeedBird">
        </center>
        </div>
    </script>

    <!--
            View info web app
    -->

    <script type="text/template" id="templateInfoAppView">
        <div class="row" >
            <p>iFeedBird est projet basé sur Raspberry Pi qui permet de prendre en photo les oiseaux s'approchant d'une mangeoire
                et de reconnaitre l'espèce concernée</p>
            <p>Il met en oeuvre les composants suivants :
            <ul>
                <li>Raspberry Pi B+</li>
                <li>Capteur infrarouge</li>
                <li>Appareil photo PiCamera</li>
                <li>Une mangeoire en bois</li>
                <li>Un dongle Wifi USB</li>
            </ul>
        </div>
    </script>

    <!--
            Vue contact
    -->

    <script type="text/template" id="templateContact">
        <div class="form" >
            <form action="/contactform" method="POST"><!-- enctype="multipart/form-data" -->
                <input name="action" value="submit" type="hidden">
                Nom :
                <br>
                <input name="name" size="30" type="text">
                <br>
                Adresse :
                <br>
                <input name="email" size="30" type="text">
                <br>
                Message :
                <br>
                <textarea name="message" rows="5" cols="50"></textarea>
                <br>
                <input value="Envoyer" type="submit">
            </form>
        </div>
    </script>

    <!--

        ################### FIN VUES BACKBONE ###################

    -->

    <!-- Chargement des fichiers de la web app -->
    <script src="../static/js/photo.js"></script>
    <script src="../static/js/router.js"></script>
    <script src="../static/js/app.js"></script>
</html>
